.track {
  display: flex;
  align-items: center;
}

.track > :not(:last-child) {
  margin-right: 20px;
}

.track__image {
  height: 46px;
  width: 46px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ffffff57;
}

.track__button {
  background: none;
  border: none;
}

.track__description > h3 {
  margin: 0 0 3px 0;
  font-size: 0.8125rem;
  color: var(--title-font-color);
}

.track__description > p {
  margin: 5px 0;
  font-size: 0.625rem;
  color: var(--foot-note-font-color);
}
