@import url("./assets/fonts/circular-std.css");

:root {
  --main-font-color: #d7d8db;
  --main-background-color: #151827;
  --font-family: "Circular Std", sans-serif;
  --title-font-color: #a3a4ab;
  --foot-note-font-color: #595b68;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
}

body {
  font-family: var(--font-family);
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
}
