@font-face {
  font-family: "Circular Std Medium";
  src: url("./assets/fonts/circularstd-medium.eot"),
    url("./assets/fonts/circularstd-medium.woff") format("woff"),
    url("./assets/fonts/circularstd-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #383b49;
  color: #d7d8db;
}

body {
  font-family: "Circular Std Medium", sans-serif;
  margin: 0;
  font-weight: 700;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Circular Std Medium", sans-serif;
}
